[default]
LABELS = retrained_snake_labels_zhtw.txt
GRAPH = retrained_snake.pb
INPUT_LAYER = module_apply_default/hub_input/Mul
OUTPUT_LAYER = final_result

[google]
LABELS = retrained_flower_labels.txt
GRAPH = retrained_flower.pb
INPUT_LAYER = module_apply_default/hub_input/Mul
OUTPUT_LAYER = final_result

[snake]
LABELS = retrained_snake_labels_zhtw.txt
GRAPH = retrained_snake.pb
INPUT_LAYER = module_apply_default/hub_input/Mul
OUTPUT_LAYER = final_result
