[default]
USR_PATH = usr
PATH_TO_CKPT = ssd_mobilenet_v1_coco_2017_11_17.pb
PATH_TO_LABELS = mscoco_label_map.pbtxt
NUM_CLASSES = 90
IMAGE_SIZE = 15,10
max_boxes_to_draw = 20
min_score_thresh = 0.4
line_thickness = 4

[ssd_mobilenet_v1_coco]
USR_PATH = usr
PATH_TO_CKPT = ssd_mobilenet_v1_coco_2017_11_17.pb
PATH_TO_LABELS = mscoco_label_map.pbtxt
NUM_CLASSES = 90
IMAGE_SIZE = 15,10
max_boxes_to_draw = 20
min_score_thresh = 0.4
line_thickness = 4

[snake]
USR_PATH = usr
PATH_TO_CKPT = ssd_mobilenet_v1_coco_2017_11_17.pb
PATH_TO_LABELS = mscoco_label_map.pbtxt
NUM_CLASSES = 90
IMAGE_SIZE = 15,10
max_boxes_to_draw = 20
min_score_thresh = 0.4
line_thickness = 4
